.not_table {
    margin: 0 auto;
    background-color: blanchedalmond;
    border: 3px cornflowerblue dotted;
}

.not_table_line {
    height: 20px;
}

/*.not_table_l {*/
    /*float: left;*/
    /*text-align: left;*/
/*}*/

.not_table_l {
    text-align: center;
    color: #000000;
    font: bold 20px 맑은 고딕;
    background-color: #f1f6c4;
}

.not_table_half {
    clear: both;
    height: 10px;
}

.not_table_r {
    text-align: right;
}

.not_table tr,
.not_table th {
    /*border: 1px hotpink solid;*/
}

.not_table tr > th:nth-child(2) {   /* 제목 길게 */
    width: 200px;
}

.not_table td {
    border-bottom: solid lightblue;
}

.not_table_ul {
    margin: 0 auto;
    list-style: none;
    width: 300px;
}

.not_table_ul > li {
    float: left;
    margin: 0 5px;
}

.not_table_title {
    
    width: 300px;
}