<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>projectA</display-name>
    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>fproject.home.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>council</servlet-name>
        <servlet-class>fproject.admin.controller.CouController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>council</servlet-name>
        <url-pattern>/cou.do</url-pattern>
    </servlet-mapping>
    <!--CURR-->
    <servlet>
        <servlet-name>curriculum</servlet-name>
        <servlet-class>fproject.lec.controller.CurrController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>curriculum</servlet-name>
        <url-pattern>/curr.do</url-pattern>
    </servlet-mapping>
    <!--CURR DETAIL-->
    <servlet>
        <servlet-name>currdetail</servlet-name>
        <servlet-class>fproject.lec.controller.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>currdetail</servlet-name>
        <url-pattern>/currone.do</url-pattern>
    </servlet-mapping>
    <!--CURR INSERT ONE-->
    <servlet>
        <servlet-name>currinsertone</servlet-name>
        <servlet-class>fproject.lec.controller.CurrInsertOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>currinsertone</servlet-name>
        <url-pattern>/currinsert.do</url-pattern>
    </servlet-mapping>
    <!-- CURR UPDATE-->
    <servlet>
        <servlet-name>currupdate</servlet-name>
        <servlet-class>fproject.lec.controller.CurrUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>currupdate</servlet-name>
        <url-pattern>/currupdate.do</url-pattern>
    </servlet-mapping>
    <!-- CURR DEL-->
    <servlet>
        <servlet-name>currdel</servlet-name>
        <servlet-class>fproject.lec.controller.CurrDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>currdel</servlet-name>
        <url-pattern>/currdel.do</url-pattern>
    </servlet-mapping>
    <!--STUCURR-->
    <servlet>
        <servlet-name>stucurr</servlet-name>
        <servlet-class>fproject.lec.controller.StuCurrController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stucurr</servlet-name>
        <url-pattern>/stucurr.do</url-pattern>
    </servlet-mapping>
    <!-- STUCURRONE-->
    <servlet>
        <servlet-name>stucurrone</servlet-name>
        <servlet-class>fproject.lec.controller.StuCurrOneController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stucurrone</servlet-name>
        <url-pattern>/stucurrone.do</url-pattern>
    </servlet-mapping>
    <!-- STUCURRLECAPP-->
    <servlet>
        <servlet-name>stucurrlecapp</servlet-name>
        <servlet-class>fproject.lec.controller.CurrLecapppController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stucurrlecapp</servlet-name>
        <url-pattern>/lecapp.do</url-pattern>
    </servlet-mapping>
    <!-- 공지사항-->
    <!-- NOTTICE-->
    <servlet>
        <servlet-name>notice</servlet-name>
        <servlet-class>fproject.not.controller.NotController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>notice</servlet-name>
        <url-pattern>/not.do</url-pattern>
    </servlet-mapping>
    <!-- NOT INSERT-->
    <servlet>
        <servlet-name>notadd</servlet-name>
        <servlet-class>fproject.not.controller.NotInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>notadd</servlet-name>
        <url-pattern>/notadd.do</url-pattern>
    </servlet-mapping>
    <!-- NOT INSERT ONE-->
    <servlet>
        <servlet-name>notinsertone</servlet-name>
        <servlet-class>fproject.not.controller.NotInsertOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>notinsertone</servlet-name>
        <url-pattern>/notinsert.do</url-pattern>
    </servlet-mapping>
    <!-- NOT DETAIL-->
    <servlet>
        <servlet-name>notdetail</servlet-name>
        <servlet-class>fproject.not.controller.NotDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>notdetail</servlet-name>
        <url-pattern>/notone.do</url-pattern>
    </servlet-mapping>
    <!-- NOTDEL-->
    <servlet>
        <servlet-name>notdel</servlet-name>
        <servlet-class>fproject.not.controller.NotDelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>notdel</servlet-name>
        <url-pattern>/notdel.do</url-pattern>
    </servlet-mapping>
    <!-- INFO-->
    <servlet>
        <servlet-name>info</servlet-name>
        <servlet-class>fproject.info.InfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>info</servlet-name>
        <url-pattern>/info.do</url-pattern>
    </servlet-mapping>
    <!-- 신인아 관리-->
    <servlet>
        <servlet-name>counciladdview</servlet-name>
        <servlet-class>fproject.admin.controller.CouAddViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>counciladdview</servlet-name>
        <url-pattern>/couadd.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>councilinsert</servlet-name>
        <servlet-class>fproject.admin.controller.CouInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>councilinsert</servlet-name>
        <url-pattern>/couinsert.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>councilItem</servlet-name>
        <servlet-class>fproject.admin.controller.CouItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>councilItem</servlet-name>
        <url-pattern>/couitem.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_main</servlet-name>
        <servlet-class>fproject.admin.controller.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_main</servlet-name>
        <url-pattern>/adminmain.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>attendence</servlet-name>
        <servlet-class>fproject.admin.controller.AttController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>attendence</servlet-name>
        <url-pattern>/att.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>progress</servlet-name>
        <servlet-class>fproject.admin.controller.ProController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>progress</servlet-name>
        <url-pattern>/pro.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>grade</servlet-name>
        <servlet-class>fproject.admin.controller.GraController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>grade</servlet-name>
        <url-pattern>/gra.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>advertise</servlet-name>
        <servlet-class>fproject.admin.controller.AdvController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>advertise</servlet-name>
        <url-pattern>/ad.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>generalSts</servlet-name>
        <servlet-class>fproject.admin.controller.StaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generalSts</servlet-name>
        <url-pattern>/genSts.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listmemadmin</servlet-name>
        <servlet-class>fproject.admin.controller.ListMemAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listmemadmin</servlet-name>
        <url-pattern>/memberadmin.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listlecadmin</servlet-name>
        <servlet-class>fproject.admin.controller.ListLecAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listlecadmin</servlet-name>
        <url-pattern>/lectureadmin.do</url-pattern>
    </servlet-mapping>
    <!--<servlet>-->
    <!--<servlet-name>listlecappadmin</servlet-name>-->
    <!--<servlet-class>fproject.admin.controller.ListLecAppAdminController</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>listlecappadmin</servlet-name>-->
    <!--<url-pattern>/lecappadmin.do</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>fproject.member.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>fproject.member.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginok.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>fproject.member.controller.InsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insert1</servlet-name>
        <servlet-class>fproject.member.controller.Insert1Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insert1</servlet-name>
        <url-pattern>/insert1.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>fproject.member.controller.UpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>update1</servlet-name>
        <servlet-class>fproject.member.controller.UpupdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update1</servlet-name>
        <url-pattern>/update1.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>id</servlet-name>
        <servlet-class>fproject.member.controller.IdsearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>id</servlet-name>
        <url-pattern>/id.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>id1</servlet-name>
        <servlet-class>fproject.member.controller.Idsearch1Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>id1</servlet-name>
        <url-pattern>/idsearch.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pw</servlet-name>
        <servlet-class>fproject.member.controller.PwsearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pw</servlet-name>
        <url-pattern>/pwsearch.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pw1</servlet-name>
        <servlet-class>fproject.member.controller.Pwsearch1Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pw1</servlet-name>
        <url-pattern>/pwsearch1.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pwchange</servlet-name>
        <servlet-class>fproject.member.controller.PwchangeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pwchange</servlet-name>
        <url-pattern>/pwchange.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>memPermit</servlet-name>
        <servlet-class>fproject.admin.controller.MemPermitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>memPermit</servlet-name>
        <url-pattern>/mempermit.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lecPermit</servlet-name>
        <servlet-class>fproject.admin.controller.LecPermitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lecPermit</servlet-name>
        <url-pattern>/lecpermit.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>couAnswer</servlet-name>
        <servlet-class>fproject.admin.controller.CouAnswerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>couAnswer</servlet-name>
        <url-pattern>/couanswer.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>couList</servlet-name>
        <servlet-class>fproject.admin.controller.CouListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>couList</servlet-name>
        <url-pattern>/coulist.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>couformem</servlet-name>
        <servlet-class>fproject.admin.controller.CouMemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>couformem</servlet-name>
        <url-pattern>/coumem.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listlecappadmin</servlet-name>
        <servlet-class>fproject.admin.controller.ListLecAppAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listlecappadmin</servlet-name>
        <url-pattern>/lecappadmin.do</url-pattern>
    </servlet-mapping>
    <!-- 신인아 관리-->
    <!-- 채지원 강의-->
    <servlet>
        <servlet-name>lecinsertpg</servlet-name>
        <servlet-class>fproject.lec.controller.LecInsertPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lecinsertpg</servlet-name>
        <url-pattern>/lecinsertpg.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lecinsert</servlet-name>
        <servlet-class>fproject.lec.controller.LecInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lecinsert</servlet-name>
        <url-pattern>/lecinsert.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>leclistpage</servlet-name>
        <servlet-class>fproject.lec.controller.LecController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>leclistpage</servlet-name>
        <url-pattern>/lec.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lecliststupage</servlet-name>
        <servlet-class>fproject.lec.controller.LecStuController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lecliststupage</servlet-name>
        <url-pattern>/lecstu.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lecviewstu</servlet-name>
        <servlet-class>fproject.lec.controller.LecViewStuController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lecviewstu</servlet-name>
        <url-pattern>/lecviewstu.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>graedit</servlet-name>
        <servlet-class>fproject.lec.controller.GraEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>graedit</servlet-name>
        <url-pattern>/graedit.do</url-pattern>
    </servlet-mapping>
    <!-- 채지원 강의-->
</web-app>